# Firebase Environment Variables
# Copy this file to .env.local and use these exact values

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDzv5FX8AECAsA0a2--XpMD8GK5NOP1Rhg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=leli-rentals-52a08.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=leli-rentals-52a08
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=leli-rentals-52a08.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=220739389697
NEXT_PUBLIC_FIREBASE_APP_ID=1:220739389697:web:701c8d4141b29d88a13300


EXPO_PUBLIC_SUPABASE_URL= https://ivjghuuffjnhvuwruyed.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2amdodXVmZmpuaHZ1d3J1eWVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA0MjA4MzUsImV4cCI6MjA3NTk5NjgzNX0.4wHEYP_GEKNLqjQYvJkRJAep1byTT3YIL6Pv55te_XU
EXPO_PUBLIC_SUPABASE_KEY=sb_publishable_JKugRMl4eLi-y7UiGfQRrw_EwD1F819